.col-md-12
  %h1.text-center= @category.name

  .list-group.text-center
    = link_to("Back", root_path)
    - if @category.editable_by?(current_user)
      = link_to("Edit", edit_category_path(@category))
      = link_to("Delete", category_path(@category), method: :delete, data: {confirm: "Are You Sure?"})
  %hr
